Received GOAWAY from APNs server: Maximum active streams violated for this endpoint.

Hi:

I am doing some pilot of this library, I see that after sending out few (hundreds to 10K) notifications I get the exception which says,

Received GOAWAY from APNs server: Maximum active streams violated for this endpoint.

whats does this mean exactly? I am creating a Pool of Max 3 ApnsClients per key and and once client never sends more than 10K notifications. I wanted to know if the issue is no. of connections or No. of PNs sent over a connection.

> whats does this mean exactly?

Please see [RFC 7540, section 5.1.2](http://httpwg.org/specs/rfc7540.html#rfc.section.5.1.2) for an explanation of HTTP/2 stream limits.

> I am creating a Pool of Max 3 ApnsClients per key

So, to rephrase, you're creating three distinct `ApnsClient` instances, and each has the same *cryptographic* key (i.e. you're using the same certificate for each client)?

Is this happening in the production environment or the sandbox environment? Does it happen if you use only one client instead of three?

I am debugging it right now,

I observed that I get above exception, when i take a little longer to complete the `operationComplete()` of Response future like making async http calls :(

If I make it NOOP, I get following exception instead.
```
com.relayrides.pushy.apns.ApnsClientHandler: APNs client pipeline caught an exception.
! java.io.IOException: Connection reset by peer
! at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
! at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
! at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
! at sun.nio.ch.IOUtil.read(IOUtil.java:192)
! at sun.nio.ch.SocketChannelImpl.read(SocketChannelImpl.java:379)
! at io.netty.buffer.PooledUnsafeDirectByteBuf.setBytes(PooledUnsafeDirectByteBuf.java:288)
! at io.netty.buffer.AbstractByteBuf.writeBytes(AbstractByteBuf.java:1054)
! at io.netty.channel.socket.nio.NioSocketChannel.doReadBytes(NioSocketChannel.java:245)
! at io.netty.channel.nio.AbstractNioByteChannel$NioByteUnsafe.read(AbstractNioByteChannel.java:106)
! at io.netty.channel.nio.NioEventLoop.processSelectedKey(NioEventLoop.java:527)
! at io.netty.channel.nio.NioEventLoop.processSelectedKeysOptimized(NioEventLoop.java:484)
! at io.netty.channel.nio.NioEventLoop.processSelectedKeys(NioEventLoop.java:398)
! at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:370)
! at io.netty.util.concurrent.SingleThreadEventExecutor$5.run(SingleThreadEventExecutor.java:742)
! at com.webengage.gcmProvider.utils.MDCContextExecutorDecorator$1.run(MDCContextExecutorDecorator.java:41)
! at io.netty.util.concurrent.DefaultThreadFactory$DefaultRunnableDecorator.run(DefaultThreadFactory.java:145)
! at java.lang.Thread.run(Thread.java:745)
```

To answer your questions above.
I faced this issue with production APNS endpoint with very large set having valid tokens and now debugging with APNS Sandbox which has many BadDeviceTokens.

Following is the exception thrown when I remove the FutureListener completely, Hope this helps.

```
com.relayrides.pushy.apns.ApnsClientHandler: APNs client pipeline caught an exception. 
! java.lang.NullPointerException: null
! at io.netty.handler.codec.http2.DefaultHttp2Connection.close(DefaultHttp2Connection.java:140)
! at io.netty.handler.codec.http2.Http2ConnectionHandler$BaseDecoder.channelInactive(Http2ConnectionHandler.java:179)
! at io.netty.handler.codec.http2.Http2ConnectionHandler.channelInactive(Http2ConnectionHandler.java:370)
! at io.netty.channel.ChannelHandlerInvokerUtil.invokeChannelInactiveNow(ChannelHandlerInvokerUtil.java:56)
! at io.netty.channel.DefaultChannelHandlerInvoker.invokeChannelInactive(DefaultChannelHandlerInvoker.java:93)
! at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:342)
! at io.netty.channel.AbstractChannelHandlerContext.fireChannelInactive(AbstractChannelHandlerContext.java:124)
! at io.netty.channel.ChannelInboundHandlerAdapter.channelInactive(ChannelInboundHandlerAdapter.java:75)
! at io.netty.handler.timeout.IdleStateHandler.channelInactive(IdleStateHandler.java:257)
! at io.netty.channel.ChannelHandlerInvokerUtil.invokeChannelInactiveNow(ChannelHandlerInvokerUtil.java:56)
! at io.netty.channel.DefaultChannelHandlerInvoker.invokeChannelInactive(DefaultChannelHandlerInvoker.java:93)
! at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:342)
! at io.netty.channel.AbstractChannelHandlerContext.fireChannelInactive(AbstractChannelHandlerContext.java:124)
! at io.netty.handler.codec.ByteToMessageDecoder.channelInputClosed(ByteToMessageDecoder.java:349)
! at io.netty.handler.codec.ByteToMessageDecoder.channelInactive(ByteToMessageDecoder.java:309)
! at io.netty.handler.ssl.SslHandler.channelInactive(SslHandler.java:727)
! at io.netty.channel.ChannelHandlerInvokerUtil.invokeChannelInactiveNow(ChannelHandlerInvokerUtil.java:56)
! at io.netty.channel.DefaultChannelHandlerInvoker.invokeChannelInactive(DefaultChannelHandlerInvoker.java:93)
! at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:342)
! at io.netty.channel.AbstractChannelHandlerContext.fireChannelInactive(AbstractChannelHandlerContext.java:124)
! at io.netty.channel.DefaultChannelPipeline.fireChannelInactive(DefaultChannelPipeline.java:1060)
! at io.netty.channel.AbstractChannel$AbstractUnsafe$7.run(AbstractChannel.java:747)
! at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:339)
! at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:373)
! at io.netty.util.concurrent.SingleThreadEventExecutor$5.run(SingleThreadEventExecutor.java:742)
! at java.lang.Thread.run(Thread.java:745)
INFO  [2016-08-10 20:30:31,346] [apnsConnectionPool-1-1] [e6af890d-db1a-4b69-a5d4-6fca424e41b2] com.relayrides.pushy.apns.ApnsClient: Connection to api.development.push.apple.com/17.172.238.203:443 restored. 
```

Sorry for spamming the issue, but by any chance, can I get this value? at some log level, or via some callback?

> can I get max streams value?

It's transmitted in the `SETTINGS` frame from the APNs server. It's [logged at the `TRACE` level by `ApnsClientHandler`](https://github.com/relayrides/pushy/blob/v0.7.3/pushy/src/main/java/com/relayrides/pushy/apns/ApnsClientHandler.java#L156).

Hi:

Thanks for the info, I enabled TRACE, I am not able to make sense out of following sequence of logs

```
Wrote payload on stream 381: {PN JSON}
Wrote headers on stream 383: DefaultHttp2Headers[:method: POST, :authority: api.development.push.apple.com, :path: /3/device/20279D07C0DF78CCAC8C66243C6D7840B8F5AFAA8F08AB4CABC201497EF2EF66, apns-expiration: 1473264511, apns-priority: 10]
Wrote payload on stream 383: {PN JSON}
Received settings from APNs gateway: {HEADER_TABLE_SIZE=4096, MAX_CONCURRENT_STREAMS=500, INITIAL_WINDOW_SIZE=65535, MAX_FRAME_SIZE=16384, MAX_HEADER_LIST_SIZE=8000}
Received settings from APNs gateway: {HEADER_TABLE_SIZE=4096, MAX_CONCURRENT_STREAMS=1, INITIAL_WINDOW_SIZE=65535, MAX_FRAME_SIZE=16384, MAX_HEADER_LIST_SIZE=8000}
Received headers from APNs gateway on stream 3: DefaultHttp2Headers[:status: 400, apns-id: BF8F9E34-719E-231C-AD77-6F6999F54AB7]
Received data from APNs gateway on stream 3: {"reason":"BadDeviceToken"}
could not send message to a device, error code is BadDeviceToken
Received GOAWAY from APNs server: Maximum active streams violated for this endpoint.
```

I have removed the log prefixes for readability. Why are we receiving the MAX_CONCURRENT_STREAMS Twice? Once with Value of 500 which seems correct as I sent PN to around 200 Devices in this test, and then immediately its reduced to 1

I'am facing the same problem in the production enviroment.

I enabled trace on production, and following are the logs from ApnsClientHandler

[filter1.txt](https://github.com/relayrides/pushy/files/412792/filter1.txt)

PN: I had to remove some client data being logged. but few questions I have in mind after looking at this log.

In general APNs has set the Max Streams to 500, why I see logs saying writing header/payload to stream >1000?
Why, When, how frequently we receive settings frame?
Why do we receive SETTINGS intermittently with MAX-STREAMS set to 1? Is library handling it correctly?

> In general APNs has set the Max Streams to 500, why I see logs saying writing header/payload to stream >1000?

That's the maximum number of *concurrent* streams, not the number of total streams that may happen. In other words, you could have a concurrent stream limit of 1 and still send a million notifications; we'd just have to send then one by one. Pushy (really Netty) manages this internally, and you don't need to do anything from calling code to deal with stream limits.

> Why, When, how frequently we receive settings frame?

That's entirely up to the server. The server may send us new `SETTINGS` frames at any time to change the number of allowed concurrent streams.

> Why do we receive SETTINGS intermittently with MAX-STREAMS set to 1? Is library handling it correctly?

I don't know. That's the big question here.

> Besides this problem, I think we also need a way to gracefully settle things down when receiving GOAWAY frame.

Again, this is already the case. Netty's HTTP/2 implementation deals with this for us.

For both of you, I'd ask for two things to narrow down the possibilities for what might be going on here:

1. Again, do you have this problem if you only have one `ApnsClient` in play? It sounds like you're both creating multiple `ApnsClient` instances and connecting them to the same server, and I'm curious about what happens if there's just one connection.
2. I'm assuming you're both waiting for the `connect` future to complete before you start sending notifications. If that's true, could you please try adding a `Thread.sleep(1000)` before you start sending notifications? In other words:

```java
connectFuture.await();
Thread.sleep(1000);
// Start sending notifications
```

Thanks!

Oh! One other thing to try. I have a suspicion that this may have been fixed by #350. If you're comfortable building your own copy of Pushy, can you give this a try with the latest from `master` and see if the problem persists? Thanks!

> could you please try adding a Thread.sleep(1000) before you start sending notifications?

Actually, no need to do that any more. @saumitrabhave I think the logs you included pretty clearly show that we are, indeed, getting an initial `SETTINGS` frame before we start sending notifications, so that's working as expected and doesn't need more investigation.

Would still love to know if the problem persists with only a single client or with the #350 in play, though!

Yes, When I stopped pooling completely (effectively creating a new connection on each request), I stopped getting the ```Max Concurrent Stream Error``` but I still got the ```GOWAY``` with null message after a couple of thousand PNs I had total of 10K PNs.

I also read another closed issue where people were getting GOAWAY with null message, they solved the issue by not disconnecting pre-maturely. I am already closing the client after all the PN and futures are resolved.

Also, I can confirm by observation, that  settings with MAX_CONCURRENT_STREAM=1 is received whenever we receive 400s and receiving such frame doesn't always turn into an error with max limit vioation when we are sending few hundred PNs.

I will test your change in development and let you know the results.

Also One Quicks Question,
are instances of ApnsClient Thread Safe?

> are instances of ApnsClient Thread Safe?

Yes.

I tried with 0.8-SNAPSHOT (master branch) ... Ran a Simple test with Sending >1000 Bad Device Tokens. 3 out of 4 times I get following error

```Received GOAWAY from APNs server: Maximum active streams violated for this endpoint.```

For Once I got following exception:

```
com.relayrides.pushy.apns.ApnsClientHandler: APNs client pipeline caught an exception.
! java.io.IOException: Connection reset by peer
! at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
! at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
! at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
! at sun.nio.ch.IOUtil.read(IOUtil.java:192)
! at sun.nio.ch.SocketChannelImpl.read(SocketChannelImpl.java:380)
! at io.netty.buffer.PooledUnsafeDirectByteBuf.setBytes(PooledUnsafeDirectByteBuf.java:288)
! at io.netty.buffer.AbstractByteBuf.writeBytes(AbstractByteBuf.java:1100)
! at io.netty.channel.socket.nio.NioSocketChannel.doReadBytes(NioSocketChannel.java:343)
! at io.netty.channel.nio.AbstractNioByteChannel$NioByteUnsafe.read(AbstractNioByteChannel.java:118)
! at io.netty.channel.nio.NioEventLoop.processSelectedKey(NioEventLoop.java:571)
! at io.netty.channel.nio.NioEventLoop.processSelectedKeysOptimized(NioEventLoop.java:512)
! at io.netty.channel.nio.NioEventLoop.processSelectedKeys(NioEventLoop.java:426)
! at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:398)
! at io.netty.util.concurrent.SingleThreadEventExecutor$5.run(SingleThreadEventExecutor.java:877)
! at io.netty.util.concurrent.DefaultThreadFactory$DefaultRunnableDecorator.run(DefaultThreadFactory.java:144)
! at java.lang.Thread.run(Thread.java:745)
```

It always happened like this:
 2016-08-15 11:23:14,944 [INFO] com.relayrides.pushy.apns.ApnsClientHandler$ApnsClientHandlerFrameAdapter.onSettingsRead(ApnsClientHandler.java:165): Received settings from APNs gateway: {HEADER_TABLE_SIZE=4096, MAX_CONCURRENT_STREAMS=1, INITIAL_WINDOW_SIZE=65535, MAX_FRAME_SIZE=16384, MAX_HEADER_LIST_SIZE=8000}, type:1 ,index: 2
2016-08-15 11:23:14,946 [INFO] com.relayrides.pushy.apns.ApnsClientHandler$ApnsClientHandlerFrameAdapter.onSettingsRead(ApnsClientHandler.java:165): Received settings from APNs gateway: {HEADER_TABLE_SIZE=4096, MAX_CONCURRENT_STREAMS=500, INITIAL_WINDOW_SIZE=65535, MAX_FRAME_SIZE=16384, MAX_HEADER_LIST_SIZE=8000}, type:1 ,index: 2
2016-08-15 11:23:16,152 [INFO] com.relayrides.pushy.apns.ApnsClientHandler$ApnsClientHandlerFrameAdapter.onWindowUpdateRead(ApnsClientHandler.java:177): Received window update from APNs gateway, stream id: 0, windowSizeIncrement: 32822, type:1 ,index: 2
2016-08-15 11:23:17,072 [INFO] com.relayrides.pushy.apns.ApnsClientHandler$ApnsClientHandlerFrameAdapter.onGoAwayRead(ApnsClientHandler.java:303): Received GOAWAY from APNs server: Maximum active streams violated for this endpoint., errorcode is: 7, last stream id is: 1355, type:1 ,index: 2

MAX_CONCURRENT_STREAMS set to 1, then to 500, then connection break down.


One quick thought, maybe it is because the olympic game and apple server works too heavy?

Looks like somebody else faced the same problem:
https://forums.developer.apple.com/message/162457#162457

It's sounding increasingly like this is an upstream issue given that it seems to be affecting several people suddenly. Have you folks all [filed bug reports with Apple](https://bugreport.apple.com/)? That's usually the best way to get this kind of thing addressed.

I'll see if I can reproduce any kind of stream-limit race condition locally, but won't have availability to devote to the task until later this week.

I already filed this bug. still waiting for apple's reply.

I've filed [rdar://27870881](https://openradar.appspot.com/radar?id=5059955027607552) to track this issue. In short, a single rejected notification will get us a stream limit of 1. The next successful notification will get us a stream limit of 500.

I'm still not sure where the stream limit violation is happening; it's possible that we're not responding to the limit changes appropriately on our end (though we seem to be in most circumstances), and it's also possible that there's an issue upstream. Will continue to investigate as time allows.

I'm now entirely confident that this is an upstream issue and largely beyond our control. I'll leave this open while we monitor the situation, but I think our recourse is just to wait for a fix.

Apple replied to the forum thread and said the issue is fixed on their end now: https://forums.developer.apple.com/thread/54407

Awesome. Will verify tomorrow, but I'm going to go ahead and close this for now. Thanks for all of the research and patience, everybody!

It seems that this is solved.
Cause I've found no such thing in the log today.

Agreed—this looks good to me, too.